.newsBody {
    margin-top: 20px;
    text-align: center;
    background: #d98499;
    padding: 20px;
    border-radius: 10px;
    font-family: Comfortaa;
    text-decoration: none;
}

.centeredImage {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.rootContainer {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
    display: flex;
    justify-content: center;
    /* align-items: center; 
    flex-direction: column; */
}
