.rootContainer {
  background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
}


.whiteText {
  color: #FFF;
  font-family: Montserrat;
}

.pinkText {
  background: linear-gradient(180deg, #FAA0A0 0%, #D62EBB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
}

.orangeText {
  background: linear-gradient(180deg, #BE5E5E 0%, #FF7093 94.27%, #FF7093 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
}

.shortWord {
  color: #BE5E5E;
}

.editButton {
  display: flex;
  align-items: start;
  justify-content: start;
}

.editButt {
  padding: 35px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(90deg, #FF7093 0%, #FFB9B9 100%);
  width: 343.292px;
  height: 77px;
}

.editImgContainer {
  display: flex;
  justify-content: end;
  align-items: end;
}

.bgContainer {
  background: #FF7093;
  padding: 40px;
  margin: 20px;
  border-radius: 80px;
  color: #FFF;
  font-weight: 400;
  width: 100%;
}


.textPinkBG {
  font-family: Montserrat;
}

.textPromote {
  word-wrap: break-word;
  color: #BE5E5E;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 0.8px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}


.serviceText {
  color: #FF7093;
  font-family: Montserrat;
}

.editServiceHome {
  text-align: center;
  padding: 2px;
  margin: 5px;
  background: radial-gradient(circle, #FF7093, #FFE0E0);
  width: 200px;
  height: 300px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.editServiceHome img {
  margin-top: 20px;
  border-radius: 50%;
}

.editServiceHome span {
  margin-top: 10px;
  font-family: Montserrat;
}

.tryButton {
  margin-top: 10px;
  background: #FF7093;
  padding: 2px;
  border-radius: 40px;
  text-decoration: none;
  font-family: Comfortaa;
}

@media (max-width: 320px) {
  .flexColumn {
    flex-direction: column;
  }

  .bgContainer {
    border-radius: 0%;
  }

  .normalText {
    text-align: start;
    margin: auto;
  }

  .serviceText {
    margin: 0;
    padding: 0;
    text-align: start;
  }


}

@media (max-width: 375px) {
  .flexColumn {
    flex-direction: column;
  }

  .bgContainer {
    border-radius: 0%;
  }

  .normalText {
    text-align: start;
    margin: auto;
  }

  .serviceText {
    margin: 0;
    padding: 0;
    text-align: start;
  }


}

@media (max-width: 425px) {
  .flexColumn {
    flex-direction: column;
  }

  .bgContainer {
    border-radius: 0%;
  }

  .normalText {
    text-align: start;
    margin: auto;
  }

  .serviceText {
    margin: 0;
    padding: 0;
    text-align: start;
  }


}



@media (min-width: 640px) {
  .bgContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .editServiceHome img {
    margin-top: 20px;
    border-radius: 50%;
    width: 70%;
    height: 80%;
  }
}

@media (min-width: 768px) {
  .bgContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}