.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .formField {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .formLabel {
    margin-right: 10px;
  }
  
  .addButton {
    margin-top: 10px;
  }
  