.nannyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .nannyCard {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nannyImage {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Maintain the aspect ratio of the image */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .nannyInfo {
    padding: 1rem;
  }
  