.rootContainer {
  background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.borderBox {
  border: 0.1em solid #FF7093;
  background: #FFE9EE;
  max-width: 80%;
  margin: 30 auto;
  padding: 1em;
}