.cardcontainer {
    border-radius: 40px ;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    background: rgba(255, 255, 255, 0.40);
    /* margin: 5px; */
    /* padding: 60px; */
    width: 80%;
}

.Banner{
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 55px;
}

.card {
    margin: 3%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    /* padding: 2%; */
    /* width: 90%; */
}

.logoweb{
    margin-top: 20px;
    margin-left: 10px;
}

.groupbanner{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    display: flex;
}

.searchbox{
    display: flex;
    justify-content: center;
    border-radius: 40px;
}

.searchboxcontainer {
    display: flex;
    align-items: center;
  }

.searchinput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.searchicon {
    padding: 0.5rem;
    cursor: pointer;
}