.rootContainer {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
}

.cardcontainer {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.40);
    /* margin-top: 80px; */
    margin-bottom: 20px;
    width: 80%;
    /* position: relative; */
}

.profileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profileImage {
    border-radius: 50%;
}

.Banner{
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 55px;
}

/* .profileImage {
    /* position: absolute;
    /* top: -200px;  */
    /* left: calc(50% - 100px);  */
    /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; */
    /* z-index: 1; 
  } */
  
  .groupbanner {
    /* margin-top: 50px; */
    /* position: relative; 
    z-index: 0;  */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  

.card {
    margin: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 2%; */
    width: 90%;
    border-radius: 40px;
  }
  

.logoweb{
    margin-top: 20px;
    margin-left: 10px;
}

.searchbox{
    display: flex;
    justify-content: center;
    border-radius: 40px;
}

.searchboxcontainer {
    display: flex;
    align-items: center;
  }

.searchinput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.searchicon {
    padding: 0.5rem;
    cursor: pointer;
}

@media only screen and (min-width: 320px) {
    .cardcontainer {
        width: 90%;
    }

    /* .profileImage {
        top: -150px;
        left: calc(50% - 75px);
    } */
}

