@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
  text-decoration: none;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFB7C9;
  text-align: center;
  padding: 0.5rem;
}

